body {
    background-color: #f5f5f5;
    min-width:300px;
    padding-bottom:150px;
}
.header {
    background-color: #ACB90B;
}
.header-up h1 {
  margin:0px !important;
  padding:0px !important;
}
.header .fr {
  float:right;
  padding-top:5px;
  font-size:17pt;
}
.header .fr a {
  margin-right:5px;
  text-decoration:none;
}
.header a {
  color:#4C3A00;
}
.body {
  font:13pt 'open sans';
}
.body .cl {
  text-align:center;
  margin-bottom:30px;
}
.body .cl .sep {
  margin:0px 10px 0px 10px;
}
.body h1 {
  font:bold 25pt Poppins;
  color:#4C3A00;
  margin-top:40px;
}
.body h2 {
  font:bold 20pt Poppins;
  color:#4C3A00;
}
.body h3 {
  margin-top:30px;
  font:bold 16pt Poppins;
  color:#4C3A00;
}
.body li {
  margin-bottom:6px;
}

.header-up {
    background-color: #fff;
    color:#4C3A00;
    border-bottom: 8px solid #859003;
    padding:10px 0px 10px 0px;
}

.wrapper-logo {
    width: 650px;
    height: 575px;
    margin: auto;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 0px;
    background-color: #ACB90B;
    background-image: url(animation.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center -25px;
}

.wrapper-logo .row-logo.dotnet-word {
    color: #fff;
    font-size: 100pt;
    font-style:italic;
    font-family: 'Poppins';
    text-shadow: 6px 6px #859003;
    height: 120px;
    line-height: 120px;
    text-align: center;
}

.wrapper-logo .row-logo.conf-word {
    color: #ACB90B;
    font-size: 125pt;
    letter-spacing:10px;
    height: 190px;
    line-height: 190px;
    text-align: center;
    font-family: 'Poppins';
    text-shadow: -3px -3px 0 #fff, -3px 3px 0 #fff, -3px 0 0 #fff, 3px -3px 0 #fff, 3px 3px 0 #fff, 3px 0 0 #fff, 0 -3px 0 #fff, 0 3px 0 #fff;
    font-weight: 900;
}

.wrapper-logo .row-logo.year-info {
    position: relative;
    width: 450px;
    letter-spacing:58px;
    font-size: 90pt;
    line-height:90px;
    font-family:'Poppins';
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin:0px auto 0px auto;
    padding:10px 0px 0px 0px;
}

#year-number {
  padding-bottom:5px;
}

.wrapper-logo .row-logo.year-info * {
    margin: 0;
    padding: 0;
    border: none;
}

.wrapper-logo .row-logo.year-info span {
    margin-top: -45px;
    max-height: 95px;
}

.wrapper-logo .row-logo.date-info p {
    font-family: 'Poppins';
    letter-spacing:5px;
    font-size: 48.7pt;
    color: #fff;
    text-align: center;
}

.count, .onair {
    font-family: 'Poppins';
    background-color: #ACB90B;
    border-top: 10px solid #859003;
    color: #fff;
    padding: 20px 0px 10px 0px;
    margin: 30px auto 30px auto;
    text-align:center;
}
.count {
  max-width: 550px;
}
.onair {
  width:80%;
  padding:40px 10px 40px 10px;
}
.onair .big {
  font-size: 32pt;
  line-height:50px;
}
.onair p {
  margin:20px 30px 0px 30px;
  font-size:20pt;
  line-height:26pt;
}
.onair a {
  color:#fff;
}
.onair p a {
  text-decoration:underline;
}
.count #counter {
  font-size: 54pt;
  line-height:80px;
}
.count .info {
  font-size: 18pt;
}
.count .info-short {
  display:none;
}
@media only screen and (max-width:600px) {
  .header-up h1 { display:none; }
}
@media only screen and (max-width:400px) {
  .header-up h1 { display:none; }
  .count #counter { font-size:32pt; }
  .count .info { display:none; }
  .count .info-short { display:block; }
}

.footer-img {
    display: block;
    position: absolute;
    margin-top:50px;
    right: 0;
    margin-bottom: 50px;
}

#fsharp-logo {
  float:right;
  width:200px;
}


@media (max-width: 685px) {
    .wrapper-logo {
        width: 305px;
        margin-top:0px;
        padding-top:0px;
        background-position: 0 center;
        height: 350px;
    }

    .wrapper-logo .row-logo.dotnet-word {
        font-size: 60pt;
        height: 50px;
    }

    .wrapper-logo .row-logo.conf-word {
        font-size: 70pt;
        height: 145px;
    }

    .wrapper-logo .row-logo.year-info {
        width: 255px;
        letter-spacing:28px;
        font-size: 55pt;
        line-height:55px;
        padding:8px 0px 0px 0px;
    }

    .wrapper-logo .row-logo.date-info p {
        font-size: 28pt;
    }
}

@media screen and (max-width: 530px) {
    .header-up .show-agenda {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #fsharp-logo {
      float:none;
      margin:0px auto 0px auto;
    }
    #fsharp-logo-wrapper {
      text-align:center;
    }
    .footer-img {
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (max-width: 385px) {
  .wrapper-logo {
        width: 205px;
        margin-top:0px;
        padding-top:0px;
        background-position: 0 center;
        height: 315px;
    }

    .wrapper-logo .row-logo.dotnet-word {
        font-size: 45pt;
        height: 50px;
    }

    .wrapper-logo .row-logo.conf-word {
        font-size: 55pt;
        height: 145px;
    }

    .wrapper-logo .row-logo.year-info {
        width: 205px;
        letter-spacing:28px;
        font-size: 40pt;
        line-height:38px;
        padding:8px 0px 0px 0px;
    }

    .wrapper-logo .row-logo.date-info p {
        font-size: 18pt;
    }
}

.modal-body {
  padding:0px 50px 20px 50px !important;
  font-family: 'Poppins';
}
.modal-body img {
  float:right;
  max-width:250px;
  margin:10px 0px 30px 30px;
}

#agenda-wrapper  {
  font:13pt 'open sans';
  color:white;
}
#agenda-wrapper td {
  background:#889108;
  padding:10px 10px 10px 0px;
}
#agenda-wrapper .sep td {
  background:#BB58D3;
}
#agenda-wrapper .odd td {
  background:#5F6606;
}
#agenda-wrapper .photo {
  padding-left:20px;
}
#agenda-wrapper .time {
  padding-top:12px;
  width:120px;
  text-align:center;
}
#agenda-wrapper td .gmt {
  font-size:11pt;
  margin-top:5px;
  display:block;
}
#agenda-wrapper td img {
  float:left;
  width:100px;
}
#agenda-wrapper td h3, #agenda-wrapper td p {
  margin-left:120px;
}
#agenda-wrapper h2 {
  font:bold 20pt Poppins;
  margin-bottom:15px;
  color:white;
}
#agenda-wrapper h3 {
  font:17pt Poppins;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
}
#agenda-wrapper h3 a {
  color:white;
}

@media screen and (max-width: 425px) {
  #agenda-wrapper img {
    display:none;
  }
  #agenda-wrapper .gmt br {
    display:none;
  }
  #agenda-wrapper .pdt {
    margin-left:15px;
  }
  #agenda-wrapper td {
    display:inline-block;
    width:100% !important;
    text-align:left !important;
    padding:5px 10px 5px 10px;
  }
  #agenda-wrapper td h3, #agenda-wrapper td p {
    margin:0px;
    display:inline;
  }
  #agenda-wrapper .time {
    background:#762496 !important;
  }
  #agenda-wrapper td .gmt {
    display:inline;
    margin-left:10px;
  }
}

#partners img {
  width:15%;
  margin:20px 5px 20px 5px;
}
#partners {
  text-align:center;
}
.modal-footer {
  clear:both;
}
